<header class="navbar navbar-inverse hero" role="banner">
	<div class="container">
		<div class="navbar-header">
				<%= link_to image_tag("logo2.png", size: "130x51", alt: "Ubiq"), root_path %>
		</div>
	</div>
</header>